img {
    width: 400px;
    height: 400px;
}

body {
    font-family: 'Roboto', sans-serif ;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.header,
.extra-header,
.section-1,
.section-2,
.section-3,
.footer {
    border: 1px solid black
}

.header {
    height: 100px;
    padding: 10px;
}


.header-links {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: bold;

}

.link-group-header {
    display: flex;
    gap: 15px;
}

