img {
    width: 400px;
    height: 400px;
}

body {
    font-family: 'Roboto', sans-serif ;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
}

.header,
.extra-header,
.section-1,
.section-2,
.section-3,
.footer {

    border: 1px solid black
    
}



.header-links {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: bold;

}

.link-group-header {
    display: flex;
    gap: 15px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.extra-header {
    background-color: #1f2937;
    height: 550px;
}

.hero-second-text {
    font-size: 18px;
    color: #e5e7eb;
}

.signup1,
.signup2 {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #3882f6;
    border-radius: 25px;
}